@font-face {
  font-family: "Roboto";
  src: local("Roboto-Light"), url("./fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"), url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Archangelsk";
  src: local("Archangelsk"), url("./fonts/Archangelsk.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --text-primary: #000;
  --text-secondary: #777;
  --bg-body: #fff;
  --white-text: #fff;
  --bg-item: #000;
  --yellow: #F8F200;
  --blue-text: #52bedc;
  --mobile: 300px;
  --tablet: 1024px;
  --desctop: 1920px;
}

.container {
  min-width: var(--mobile);
  width: 90%;
  margin: 0 auto;
  padding: 0 12px;
}
@media (min-width: 1020px) {
  .container {
    padding: 0 100px;
    width: 60%;
    max-width: 1920px;
  }
}

.header {
  background-image: url(./images/header-mobile.jpg);
  min-height: 750px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 120px;
}
@media (min-width: 500px) {
  .header {
    background-image: url(./images/header-tablet.jpg);
  }
}
@media (min-width: 780px) {
  .header {
    background-image: url(./images/header-desctop.jpg);
    min-height: 1000px;
  }
}

.nav {
  padding-top: 20px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
@media (min-width: 780px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
  }
}
.nav__links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
@media (min-width: 500px) {
  .nav__links {
    width: 65%;
  }
}
@media (min-width: 780px) {
  .nav__links {
    max-width: 379px;
  }
}
.nav__icon {
  width: 25px;
  height: 25px;
}
@media (min-width: 500px) {
  .nav__icon {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: var(--tablet)) {
  .nav__icon {
    width: 35px;
    height: 35px;
  }
}
.nav__logo {
  width: 200px;
  height: 50px;
}
@media (min-width: 780px) {
  .nav__logo {
    width: 300px;
    height: 75px;
  }
}

.square {
  width: 320px;
  height: 207px;
  height: auto;
  background-color: var(--yellow);
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-bottom: -50px;
  -webkit-clip-path: polygon(15% 1%, 100% 0, 100% 85%, 88% 100%, 0% 100%, 0% 15%);
          clip-path: polygon(15% 1%, 100% 0, 100% 85%, 88% 100%, 0% 100%, 0% 15%);
  margin-left: auto;
}
@media (min-width: 780px) {
  .square {
    max-width: 624px;
    height: auto;
    padding: 70px;
    width: 100%;
    margin-right: 36px;
    margin-bottom: 0;
  }
}
.square__title {
  font-family: "Archangelsk";
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: var(--text-primary);
}
@media (min-width: 780px) {
  .square__title {
    font-size: 62px;
    text-align: left;
  }
}
.square__btn {
  padding: 10px 50px;
  background-color: var(--bg-item);
  color: var(--yellow);
  font-weight: 700;
  font-size: 20px;
  line-height: 200%;
}
@media (min-width: 780px) {
  .square__btn {
    font-size: 24px;
    width: 290px;
  }
}

.info {
  margin-bottom: 120px;
}
.info__title {
  font-weight: 400;
  font-size: 30px;
  color: var(--text-primary);
  font-family: "Archangelsk";
  margin-bottom: 25px;
}
.info__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--text-secondary);
  margin-bottom: 120px;
}

.text-blue {
  font-weight: 700;
  color: var(--blue-text);
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.images img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}/*# sourceMappingURL=style.css.map */